<div class="container">
	<div class="row-fluid col-sm-11 col-sm-offset-1">
		<form name="presentForm" class="form-horizontal col-md-6" role="form" data-ng-submit="save(presentForm.$valid)" novalidate>
			<div class="form-group" ng-class="{ 'has-error' : submitted && presentForm.datum.$invalid }">
				<label class="col-sm-2 control-label" for="date">Date</label>
				<div class="col-sm-10">
					<input type="date" name="datum" data-ng-model="formData.datum" class="form-control" id="date" placeholder="Date"></input>
				</div>
			</div>
			<div class="form-group" ng-class="{ 'has-error' : submitted && presentForm.from.$invalid }">
				<label class="col-sm-2 control-label" for="from">From</label>
				<div class="col-sm-10">
					<input type="text" name="from" data-ng-model="formData.from" class="form-control" id="from" placeholder="From"></input>
				</div>
			</div>
			<div class="form-group" ng-class="{ 'has-error' : submitted && presentForm.to.$invalid }">
				<label class="col-sm-2 control-label" for="to">To</label>
				<div class="col-sm-10">
					<input type="text" name="to" data-ng-model="formData.to" class="form-control" id="to" placeholder="To"></input>
				</div>
			</div>
			<div class="form-group" ng-class="{ 'has-error' : submitted && presentForm.type.$invalid }">
				<label class="col-sm-2 control-label" for="type">Type</label>
				<div class="col-sm-10">
					<input type="text" name="type" data-ng-model="formData.type" class="form-control" id="type" placeholder="Type"></input>
				</div>
			</div>
			<div class="form-group" ng-class="{ 'has-error' : submitted && presentForm.comment.$invalid }">
				<label class="col-sm-2 control-label" for="">Comment</label>
				<div class="col-sm-10">
					<input type="text" name="comment" data-ng-model="formData.comment" class="form-control" id="comment" placeholder="Comment"></input>
				</div>
			</div>
			<div>
				<a type="button" href="/presents" class="btn btn-danger" data-toggle="tooltip" data-placement="top" title="Cancel">
					<span class="fa fa-close fa-fw"></span>
					Cancel 
				</a>
				<button type="submit" class="btn btn-success pull-right" data-toggle="tooltip" data-placement="top" title="Save">
					<span class="fa fa-save fa-fw"></span>
					 Save
				</button>
			</div>
		</form>
	</div>
</div>
